In [ ]:
#pip install xgboost

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
filepath = "./GEO Samples/dimention_reduced_data.csv"
x = pd.read_csv(filepath)
x

,MIMAT0030999,MIMAT0022694,MIMAT0021038,MIMAT0005891,MIMAT0021127,MIMAT0031180,MIMAT0019711
0,-0.555090,-0.922879,-0.391624,-0.961288,-0.944579,-0.511980,-0.779792
1,-0.665707,-0.911952,-0.655819,-1.021238,-1.062676,-0.643382,-0.772931
2,-0.586609,-0.933655,-0.740670,-0.908221,-1.002504,-0.835946,-0.739366
3,-0.622311,-1.019726,-0.915634,-1.131735,-1.130105,-0.776287,-1.038840
4,-0.601891,-0.776322,-0.960952,-1.042475,-0.958190,-0.669345,-0.895595
...,...,...,...,...,...,...,...
695,-0.534023,-0.666649,-0.906350,-0.679681,0.129415,0.357083,-0.312008
696,-0.386721,-0.542098,-0.780874,-0.970321,0.324638,-0.013265,-0.078568
697,-0.561330,-0.628595,-0.624342,-0.705777,-0.885130,-0.468942,-0.844728
698,-0.481136,-0.541630,-0.998189,-0.916056,-0.396294,-0.342072,0.154307
699,-0.125310,0.024668,-0.633189,-0.383104,1.005543,-0.151737,0.644568

In [7]:
filepath = "./GEO Samples/dimention_reduced_data_lables.csv"
y = pd.read_csv(filepath)
y

     Stage
0        2
1        2
2        1
3        2
4        3
..     ...
695      1
696      3
697      1
698      3
699      3

[700 rows x 1 columns]

In [11]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# Split data
X_train, X_test, y_train, y_test = train_test_split(
    x, y["Stage"], test_size=0.2, stratify=y["Stage"], random_state=42
)
X_train, X_test, y_train, y_test

(     MIMAT0030999  MIMAT0022694  MIMAT0021038  MIMAT0005891  MIMAT0021127  \
 241     -0.579305     -0.593487      0.126280     -0.621508     -0.860781
 568     -0.569607     -0.675489     -0.283588     -0.457750     -0.588237
 592     -0.140807     -0.135975      0.112646     -0.280592      0.058838
 421     -0.578248     -0.685280     -0.366910     -0.478150     -0.733425
 501     -0.528711     -0.723480     -0.517371     -0.504352     -0.672403
 ..            ...           ...           ...           ...           ...
 453     -0.661129     -0.822963     -0.740158     -0.986389     -0.793352
 256     -0.645718     -0.949498     -0.886845     -1.011906     -0.950304
 98      -0.429350     -0.422539     -0.150683      0.114801     -0.358779
 104     -0.391560     -0.510404     -0.261847     -0.342051     -0.025448
 446     -0.555090     -0.922879     -0.391624     -0.961288     -0.944579

      MIMAT0031180  MIMAT0019711
 241     -0.059914     -0.885019
 568      0.658373     -0.715099
 592      0.345364      1.245931
 421     -0.202812     -0.685132
 501     -0.070110     -0.946416
 ..            ...           ...
 453     -0.778792     -0.785950
 256     -0.682409     -0.890715
 98      -0.270167     -0.771182
 104     -0.640794     -0.082071
 446     -0.511980     -0.779792

 [560 rows x 7 columns],
      MIMAT0030999  MIMAT0022694  MIMAT0021038  MIMAT0005891  MIMAT0021127  \
 561     -0.558882     -0.566413      0.108464     -0.521548     -0.479008
 542     -0.131187      0.223050     -0.418145     -0.360373      0.353593
 529     -0.507427     -0.564238     -0.234449     -0.350678     -0.507776
 15      -0.649640     -0.906281     -0.618198     -0.760410     -0.946549
 624     -0.484031     -0.370226     -0.371174     -0.405760     -0.619933
 ..            ...           ...           ...           ...           ...
 496     -0.272765     -0.604745     -0.313791     -0.318615     -0.024313
 413     -0.490904     -0.508033     -0.053080     -0.242450     -0.556376
 696     -0.386721     -0.542098     -0.780874     -0.970321      0.324638
 320     -0.461565     -0.346206     -0.421998     -0.833019     -0.722171
 335     -0.583299     -0.597553     -0.392712     -0.764290     -0.477613

      MIMAT0031180  MIMAT0019711
 561     -0.641502     -0.604767
 542      0.791095      0.143717
 529     -0.715179     -0.620240
 15      -0.905039     -0.841513
 624     -0.486574     -0.469008
 ..            ...           ...
 496     -0.615737     -0.070946
 413     -0.298474     -0.678665
 696     -0.013265     -0.078568
 320     -0.423031     -0.353200
 335     -0.486077     -0.746329

 [140 rows x 7 columns],
 241    3
 568    3
 592    4
 421    1
 501    1
       ..
 453    1
 256    3
 98     1
 104    1
 446    2
 Name: Stage, Length: 560, dtype: int64,
 561    1
 542    3
 529    1
 15     3
 624    3
       ..
 496    1
 413    1
 696    3
 320    3
 335    3
 Name: Stage, Length: 140, dtype: int64)

In [9]:

# Define model
model = xgb.XGBClassifier(
    objective="multi:softmax",     # for multi-class classification
    num_class=5,                   # number of classes (0–4)
    eval_metric="mlogloss",
    use_label_encoder=False,
    random_state=42,
    scale_pos_weight=1,           # class balancing (advanced tuning later)
    n_jobs=-1
)

In [10]:

# Train
model.fit(X_train, y_train)

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [0 1 2 3], got [1 2 3 4]

In [ ]:

# Predict
y_pred = model.predict(X_test)

In [ ]:

# Evaluate
print(classification_report(y_test, y_pred))